body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    font-size: 2.5em;
    color: #9A5B32;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

h2 {
    font-size: 2em;
    color: #333;
    border-bottom: 2px solid #9A5B32;
    padding-bottom: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.5em;
    color: #555;
    margin-top: 30px;
    margin-bottom: 15px;
}

h4 {
    font-size: 1.25em;
    color: #777;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    margin-bottom: 10px;
    line-height: 1.6;
    text-align: justify;
}

ul {
    margin-left: 20px;
    margin-bottom: 20px;
}

li {
    margin-bottom: 10px;
}

a {
    color: #9A5B32;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.contact-info {
    font-weight: bold;
}

.important-text {
    background-color: #ffeb3b;
    padding: 5px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    body {
        margin: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.75em;
    }

    h3 {
        font-size: 1.25em;
    }

    h4 {
        font-size: 1.1em;
    }

    p {
        font-size: 0.9em;
    }
}